* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f9fa;
    color: #333;
}

header {
    background: #343a40;
    padding: 15px 5%;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    background-color: #ff943cfe;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    border-radius: 8px;
}

.nav-links button {
    background-color: #dc3545;
}

.nav-links a:hover{
    background-color: #b45d16;
}

main {
    max-width: 800px;
    margin: 40px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #343a40;
    color: white;
}

img {
    width: 50px;
    height: auto;
    border-radius: 5px;
}

button {
    background: #28a745;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #218838;
}

button.remove {
    background: #dc3545;
}

button.remove:hover {
    background: #c82333;
}

@media (max-width: 768px) {
    table {
        font-size: 14px;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 5px 0;
    }
}